[submodule "gosubmodule"]
	path = gosubmodule
	url = https://github.com/kimvnhung/gosubmodule.git
[submodule "gobaseservice"]
	path = gobaseservice
	url = https://github.com/kimvnhung/gobaseservice
[submodule "simpleapi/proto/google"]
	path = simpleapi/proto/google
	url = https://github.com/kimvnhung/googleprotofiles.git
